# Package Managers
package-lock.json
pnpm-lock.yaml
yarn.lock

# Build Outputs
.nuxt
.output
dist
node_modules

# Public Assets
public

# Environment Files
.env
.env.*

# Misc
.DS_Store
.idea
.vscode
