@import 'tailwindcss';

@custom-variant dark (&:is(.dark *));

@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

:root {
    --font-sans: 'Google Sans', system-ui, sans-serif;
    --font-serif: Georgia, serif;
    --font-mono: JetBrains Mono, monospace;

    --radius: 0.75rem;

    --tracking-normal: -0.01em;
    --spacing: 0.25rem;
}

:root {
    --background: oklch(1 0 0);
    --foreground: oklch(0.1448 0 0);

    --card: oklch(0.9816 0.0017 247.839);
    --card-foreground: oklch(0.1448 0 0);

    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.1448 0 0);

    --primary: oklch(0.7324 0.1767 156.2757);
    --primary-foreground: oklch(1 0 0);

    --secondary: oklch(0.9632 0.0034 247.8585);
    --secondary-foreground: oklch(0.1448 0 0);

    --muted: oklch(0.9632 0.0034 247.8585);
    --muted-foreground: oklch(0.5544 0.0407 257.4166);

    --accent: oklch(0.8791 0.2134 155.9529);
    --accent-foreground: oklch(0.7324 0.1767 156.2757);

    --destructive: oklch(0.6368 0.2078 25.3313);
    --destructive-foreground: oklch(0.9842 0.0034 247.8575);

    --border: oklch(0.9288 0.0126 255.5078);
    --input: oklch(0.9288 0.0126 255.5078);
    --ring: oklch(0.7324 0.1767 156.2757);

    --chart-1: oklch(0.8791 0.2134 155.9529);
    --chart-2: oklch(0.2795 0.0368 260.031);
    --chart-3: oklch(0.5544 0.0407 257.4166);
    --chart-4: oklch(0.7107 0.0351 256.7878);
    --chart-5: oklch(0.869 0.0198 252.8943);

    --sidebar: oklch(0.9911 0 0);
    --sidebar-foreground: oklch(0.1448 0 0);
    --sidebar-primary: oklch(0.7324 0.1767 156.2757);
    --sidebar-primary-foreground: oklch(1 0 0);
    --sidebar-accent: oklch(0.9632 0.0034 247.8585);
    --sidebar-accent-foreground: oklch(0.7324 0.1767 156.2757);
    --sidebar-border: oklch(0.9288 0.0126 255.5078);
    --sidebar-ring: oklch(0.7324 0.1767 156.2757);

    --shadow-x: 0px;
    --shadow-y: 4px;
    --shadow-blur: 10px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.05;
    --shadow-color: #000000;
    --shadow-2xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.03);
    --shadow-xs: 0px 4px 10px 0px hsl(0 0% 0% / 0.03);
    --shadow-sm: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 1px 2px -1px hsl(0 0% 0% / 0.05);
    --shadow-md: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 2px 4px -1px hsl(0 0% 0% / 0.05);
    --shadow-lg: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 4px 6px -1px hsl(0 0% 0% / 0.05);
    --shadow-xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.05), 0px 8px 10px -1px hsl(0 0% 0% / 0.05);
    --shadow-2xl: 0px 4px 10px 0px hsl(0 0% 0% / 0.13);
}

.dark {
    --background: oklch(0.1149 0 0);
    --foreground: oklch(0.9844 0.0045 258.3244);

    --card: oklch(0.1591 0 0);
    --card-foreground: oklch(0.9844 0.0045 258.3244);

    --popover: oklch(0.1591 0 0);
    --popover-foreground: oklch(0.9844 0.0045 258.3244);

    --primary: oklch(0.8791 0.2134 155.9529);
    --primary-foreground: oklch(0.1149 0 0);

    --secondary: oklch(0.1776 0 0);
    --secondary-foreground: oklch(0.9844 0.0045 258.3244);

    --muted: oklch(0.2002 0 0);
    --muted-foreground: oklch(0.7107 0.0351 256.7878);

    --accent: oklch(0.8791 0.2134 155.9529);
    --accent-foreground: oklch(0.8791 0.2134 155.9529);

    --destructive: oklch(0.645 0.2154 16.4393);
    --destructive-foreground: oklch(0.1149 0 0);

    --border: oklch(0.2393 0 0);
    --input: oklch(0.2393 0 0);
    --ring: oklch(0.8791 0.2134 155.9529);

    --chart-1: oklch(0.8791 0.2134 155.9529);
    --chart-2: oklch(1 0 0);
    --chart-3: oklch(0.3717 0.0392 257.287);
    --chart-4: oklch(0.4455 0.0374 257.2808);
    --chart-5: oklch(0.5544 0.0407 257.4166);

    --sidebar: oklch(0.1344 0 0);
    --sidebar-foreground: oklch(0.9844 0.0045 258.3244);
    --sidebar-primary: oklch(0.8791 0.2134 155.9529);
    --sidebar-primary-foreground: oklch(0.1149 0 0);
    --sidebar-accent: oklch(0.2002 0 0);
    --sidebar-accent-foreground: oklch(0.8791 0.2134 155.9529);
    --sidebar-border: oklch(0.2393 0 0);
    --sidebar-ring: oklch(0.8791 0.2134 155.9529);

    --shadow-x: 0px;
    --shadow-y: 10px;
    --shadow-blur: 20px;
    --shadow-spread: 0px;
    --shadow-opacity: 0.5;
    --shadow-color: #000000;
    --shadow-2xs: 0px 10px 20px 0px hsl(0 0% 0% / 0.25);
    --shadow-xs: 0px 10px 20px 0px hsl(0 0% 0% / 0.25);
    --shadow-sm: 0px 10px 20px 0px hsl(0 0% 0% / 0.5), 0px 1px 2px -1px hsl(0 0% 0% / 0.5);
    --shadow: 0px 10px 20px 0px hsl(0 0% 0% / 0.5), 0px 1px 2px -1px hsl(0 0% 0% / 0.5);
    --shadow-md: 0px 10px 20px 0px hsl(0 0% 0% / 0.5), 0px 2px 4px -1px hsl(0 0% 0% / 0.5);
    --shadow-lg: 0px 10px 20px 0px hsl(0 0% 0% / 0.5), 0px 4px 6px -1px hsl(0 0% 0% / 0.5);
    --shadow-xl: 0px 10px 20px 0px hsl(0 0% 0% / 0.5), 0px 8px 10px -1px hsl(0 0% 0% / 0.5);
    --shadow-2xl: 0px 10px 20px 0px hsl(0 0% 0% / 1.25);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }
    body {
        @apply bg-background text-foreground;
    }
}
